
@if (this.User.IsInRole("Admin"))
{

    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
else
{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graph</h2>


@*@{
         Layout = null;
    }*@

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var dataPoints = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                zoomEnabled: true,
                subtitles: [
                    {
                        text: "Click and drag on graph to Zoom"
                    }
                ],
                theme: "light2",
                title: {
                    text: "Weight History"
                },
                axisY: {
                    title: "Weight in Pounds",
                    titleFontSize: 24,
                    includeZero: false,
                    //prefix: "$",
                    suffix: "lb",
                    crosshair: {
                        enabled: true,
                        valueFormatString: "#,##0.##lb",
                        snapToDataPoint: true
                    }
                },
                axisX: {
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                data: [{
                    type: "line",
                    yValueFormatString: "#,##0.##lb",
                    xValueFormatString: "MMM DD YYYY",
                    dataPoints: dataPoints
                }]
            });

            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        x: new Date(data[i].x),
                        y: data[i].y
                    });
                }
                chart.render();

            }

            $.getJSON("/Graph/json", addData);

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>



@* -------------------Bar Type Graph--------------------- *@
@*<!DOCTYPE HTML>
    <html>
    <head>
        <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Number of Employees under Each Manager"
            },
            axisY: {
                title: "No. of Employees"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
            }]
        });
        chart.render();

        }
        </script>
    </head>
    <body>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
    </html>*@